.videoJSembed {
     position: relative;
     padding-bottom: 56.25%; /* 16:9 */
     padding-top: 25px;
     height: 0;
     max-width: 640px;
     overflow: none;
}
.videoJSembed iframe, .videoJSembed object, .videoJSembed embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.error {
     font-weight: bold;
     color: #bb0412;
}

.success {
     color: #20539f;
}