/*
     https://coolors.co/9c9096-432e36-d3cdcb-af8d86-afb7d8
*/

body {
     font-size: 16pt;
}


#title {
     text-align: center;
}

h2, h3, h4 {
     text-align: center;
     padding: 5px;
     background-color: #d3cdcb;
}

.error {
     font-weight: bold;
     color: #bb0412;
}

.success {
     color: #20539f;
}

.recording {background-color: #d9534f;}

#recordingTitle {
     width: 100%;
     font-size: 20pt;
     margin-bottom: 10px;
}

#startRecordingButton, #stopRecordingButton {
     width: 100%;
     font-size: 20pt;
}

#startRecordingButton, #stopRecordingButton {
     display: none;
}

#editVideoTitleBox h2 {
     display: block;
}

#editVideoTitleBox h2.editing {
     display: none;
}

#editVideoTitleBox input  {
     position: relative;
     display: none;
     width: 100%;
}

#editVideoTitleBox input.editing {
     display: block;
}

/* For the player */

.videoJSembed {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
  max-width: 99%;
  overflow: none;
  margin: 0 auto;
}
.videoJSembed iframe, .videoJSembed object, .videoJSembed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

#listOfRecordingsTable tbody {
  cursor: pointer;
}

tr:nth-child(even) {background-color: #f2f2f2;}
/* Don't highlight the first row on hover. */
tr:hover:not(:first-child) {background-color: #77a3e3;}

.loadedInPlayer {font-weight: bold;}
